<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Home{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    <meta name="description" content="{% block description %}{% endblock %}">
    {% block baseCss %} 
        {{ useCss('vendor') }}
    {% endblock %}
    {% block pageCss %} {% endblock %}
</head>
<body>
{% block header %} {% endblock %}
{% block content %} {% endblock %}
{% block footer %} {% endblock %}

{% block baseJs %} 
    {{ useJs('vendor') }}
{% endblock %}
{% block pageJs %} {% endblock %}
</body>
</html>